/* You can add global styles to this file, and also import other style files */
/* Global Background */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #e4ecf7);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
